body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
div{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 20px auto;
    background-color: #EEE;
    color :#ff5722;
    box-shadow:
     -5px 0 0 0 #03a9f4,
      5px 0 0 0 #ff5722;
    align-items: center;
    justify-content: center;
}