body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
*{
    box-sizing: border-box;
}
.parent{
    width: 600px;
    height: 300px;
    display: flex;
    margin: 50px auto;
    background-color: #EEE;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: space-between;
    text-align: center;
    padding: 10px;

}
.parent div{
    width: calc( 95% / 3);
    background-color: #f44336;
    color: white;
    padding: 5px 30px; 
 
}