p{
    background-color: #EEE;
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: 500px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 3px solid #e91e63;
}
p::before{
    content: attr(data-person);
    background-color: #EEE;
    color: black;
    padding: 10px 15px;
    width: 50px;
    position: absolute;
    left: -110px;
    top: 0;
}
p::after{
    content: "";
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #e91e63 transparent transparent;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -10px;
}