.assign-4-shape-1{
    width: 400px;
    height: 400px;
    background-color: rgb(233, 229, 224);
    background-image: url(mm.png);
    margin: 20px;
    background-repeat: no-repeat;
    background-size: 80%;
}
.assign-4-shape-2{
    width: 400px;
    height: 400px;
    background-color: rgb(233, 229, 224);
    background-image: url(mm.png);
    margin: 20px;
    background-repeat: repeat-y;
    background-position: right;
    background-size: 80%;
}
.assign-4-shape-3{
    width: 400px;
    height: 400px;
    background-color: rgb(233, 229, 224);
    background-image: url(mm.png);
    margin: 20px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-position: 90%;
}
.assign-4-shape-4{
    width: 400px;
    height: 400px;
    background-color: rgb(233, 229, 224);
    background-image: url(mm.png);
    margin: 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
}