.assign-2-shape-1,
.assign-2-shape-2,
.assign-2-shape-3,
.assign-2-shape-4{
    margin: 20px;
}
.assign-2-shape-1{
    width: 400px;
    height: 400px;
    background-image: url(mm.png);
    background-repeat: no-repeat;
}
.assign-2-shape-2{
    width: 400px;
    height: 400px;
    background-image: url(mm.png);
    background-repeat: repeat-y;
}
.assign-2-shape-3{
    width: 400px;
    height: 400px;
    background-image: url(mm.png);
    background-repeat: repeat-x;
}
.assign-2-shape-4{
    width: 400px;
    height: 400px;
    background-image: url(mm.png);
    background-repeat: repeat;
}