body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;  /* Centers content horizontally */
    align-items: center;

}

.par{

    display: flex;
    justify-content: center;
    align-items: center;

}

h2{
    color: aqua;
    text-align: center;

}

table{
    position: relative;
    width: 700px;
    text-align: center;
    
    
}
th{
    background-color: gray;
    color: white;
    font-size: larger;
    font-weight: 500;
    padding: 5px;
}
tr{
    background-color: #eee;
}
caption{
    font-size: larger;
    font-weight: bolder;
}
.blue{
    background-color: rgb(149, 149, 230);
    width: fit-content;
    font-weight: 500;
    padding: 5px;
    margin-right: 5px;
    color: white;
}
.red{
    background-color: red;
    width: fit-content;
    font-weight: 500;
    padding: 5px;
    margin-right: 5px;
    color: white;
}