.one,
.two,
.three{
    background-color: brown;
    color: white;
    width: fit-content;
    margin-bottom: 15px;
    padding: 20px;
    font-size: larger;
    font-weight: 900;
}
.four{
    background-color: brown;
    color: white;
    padding: 20px;
    font-size: larger;
    font-weight: 900;
    max-width: 400px;
    max-height: 20px;
}