div{
    width: 100px;
    height: 100px;
    background-color: #EEE;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    border-top-left-radius: 10px 25px;
    border-bottom-right-radius: 10px 25px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 0 10px 0 black inset;
}